{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Detail du jeu {{ jeux.nom }} </h1>


</div>

    {% for jeux in jeu %}
    <div class="card" style="width: 18rem; text-align: center">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{ jeux.description }}</h6>
            <button href="{{ path('details_jeu') }}" class="btn btn-primary">Voir</button>
        </div>
    </div>
    {% endfor %}
{% endblock %}


