{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur Loca Jeu</h1>

    <p>Une page factice permettant louer de faux jeux de sociétés.</p>

    <p>Voici la liste des jeux référencés sur le site :</p>

</div>

    <div class="container">
        <div class="row">
            {% for jeux in jeu %}
            <div class="col-6">

                <div class="card mt-3 tab-card">

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                            <h5 class="card-title">{{ jeux.nom }}</h5>
                            <a href="{{ path('jeu_detail',{'id':jeux.id}) }}" class="btn btn-primary">Voir</a>
                        </div>


                    </div>
                </div>

            </div>{% endfor %}
        </div>
    </div>

{#    {% include('styles/card/card.css') %}#}
{% endblock %}


